@import "../styleguide.css";
.report-box {
  padding: 20px;
  color:var(--color-white);
  background-color: var(--color-dark-purple);
  border: var(--standard-border);
  border-radius: var(--border-radius);
  padding: var(--spacing-2xl);
  box-shadow: var(--box-shadow);
}
/*
#transcript-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.chatLine {
  color: azure;
  display: flex;
  gap: 8px;
  border-bottom: #838383 1px dotted;
}
.user {
}
.assistant {
  justify-content: right;
}
.chatBubble {
  display: flex;
  gap: 6px;
  background-color: blue;
  width: fit-content;
  padding: 4px 14px;
  border-radius: 8px 8px 0 8px;
  max-width: 80%;
  padding: 14px 8px;
  
}
  */
#pdfViewer{
  width: 100%;
  height: 70vh;
  border: var(--standard-border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}