@import "../styleguide.css";
.report-box {
  padding: 20px;
  color:var(--color-white);
  background-color: var(--color-dark-purple);
  border: var(--standard-border);
  border-radius: var(--border-radius);
  padding: var(--spacing-2xl);
  box-shadow: var(--box-shadow);
}
#loaderContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}
#loaderContainer > div{
width: 150px
}
#pdfViewer{
  width: 100%;
  height: 70vh;
  border: var(--standard-border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
#downoladPDF{
  color: var(--color-white);
}