@import "../styleguide.css";

#scenarioContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-lg);
  align-items: center;
  justify-content: center;
}



/* Scenario card */
.scenarioCard {
  min-height: 20em;
  min-width: 35em;
  max-width: 55em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: var(--standard-border);
  border-radius: var(--border-radius);
  padding: var(--spacing-md) var(--spacing-xl);
  box-shadow: var(--box-shadow);
  background: var(--bg-gradient);
}
.twoCol{
  display: flex; 
  flex-direction: row;
}
.avatarImage {
  border: var(--standard-border);
  width: 250px;
  border-radius: 100%;
  aspect-ratio: 1;
  margin: var(--spacing-0) var(--spacing-xl);
  box-shadow: var(--box-shadow);
}

.basicInfoContainer {
  margin: var(--spacing-0) var(--spacing-lg);
  display: flex;
  flex-direction: column;
}
.basicInfoContainer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-md);
}

#scenarioDescrition{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-md);
}

#scenarioTaskContainer{
  display: flex;
  flex-direction: row;
  gap: var(--spacing-md);
}


.cardSelected {
  background: var(--bg-secondary);
}