@import "../styleguide.css";
/* Scenario card */
.scenarioCard {
  min-height: 20em;
  min-width: 35em;
  max-width: 55em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: var(--standard-border);
  border-radius: var(--border-radius);
  padding: var(--spacing-md) var(--spacing-xl);
  box-shadow: var(--box-shadow);
  background: var(--bg-gradient);
}
.twoCol{
  display: flex;
  flex-direction: row;
}
.cardSelected {
  background: var(--bg-secondary);
}
/* Avatar */
.avatarImage {
  border: var(--standard-border);
  width: 250px;
  border-radius: 100%;
  aspect-ratio: 1;
  margin: var(--spacing-0) var(--spacing-xl);
  box-shadow: var(--box-shadow);
}
.avatarTextContainer {
  margin: var(--spacing-0) var(--spacing-lg);
  display: flex;
  flex-direction: column;
}
.avatarTextContainer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-md);
}

#scenarioContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  align-items: center;
}
/*language */
.languageSelector {
  display: flex;
  gap: var(--spacing-lg);
  align-items: center;
  justify-content: center;
}

#languageContainer {
  display: flex;
  gap: var(--spacing-lg);;
  justify-content: center;
}

.warningBox {
  background-color: ivory;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 4px;
  color: #000;
}
