@import "../styleguide.css";

#audioContainer {
  min-width: 900px;
  height: 900px;
  background-color: black;
  border: 1px dotted grey;
  overflow: hidden;
  display: flex;
}
.AudioGrid {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
  z-index: 1;
}
.chat {
  background-color: #952bdb;
  width: 20%;
  height: 100%;
}
#micBtn {
  grid-area: 5 / 2 / 6 / 3;
  background-color: rgb(59, 59, 59);
  border-radius: 100%;
  width: 60%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

#micBtn:hover {
  background-color: rgb(83, 83, 83);
  cursor: pointer;
}
#micBtn > img {
  width: 80%;
}

#avatarContainer {
  grid-area: 1 / 1 / 6 / 6;
  width: 100%;
}

#avatarContainer > img {
  width: 100%;
}

#replyContainer {
  grid-area: 3 / 3 / 4 / 4;
  color: #fff;
  background-color: rgba(47, 0, 75, 0.8);
  padding: 8px;
  padding-left: 24px;
  text-align: left;
  border-radius: 16px 16px 16px 0;
}

#endBtn {
  grid-area: 5 / 3 / 6 / 4;
}
#endBtn > button {
  background-color: rgb(103, 0, 163);
  padding: 20px 50px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: xx-large;
}
.loader {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #952bdb;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
